.boxFormPopUp {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.221);
}

.boxForm{
    width: 100%;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    bottom: 0px;
    padding: 1em;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.247);
}

.boxFormPopUp textarea{
    border: 2px solid var(--color2);
    border-radius: 10px;
    padding: 1em;
    width: 80%;
    margin-bottom: 10px;
    font-family: inherit;
}

.boxMoreOptions{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.boxForm input, .boxForm select{
    border: 2px solid var(--color2);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color4);
}

.boxForm svg{
    color: var(--color4);
}
