.boxFormPopUp {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 111;
  backdrop-filter: blur(3px);
}

.boxForm {
    width: 100%;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    bottom: 0px;
    padding: 1em;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.211);
}

.boxFormPopUp textarea{
    border: 2px solid var(--color2);
    border-radius: 10px;
    padding: 1em;
    width: 80%;
    margin-bottom: 10px;
    font-family: inherit;
    resize: none;
}

.boxMoreOptions{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 5px;
}

.boxMoreOptions button{
    padding: 1em;
    display: flex;
    border-radius: 50%;
    border: none;
    background-color: var(--color3);
    font-size: 1em;
    cursor: pointer;
}

.boxMoreOptions button:active{
    opacity: .8;
}

.boxForm input, .boxForm select{
    border: 2px solid var(--color2);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color4);
}

.boxForm svg{
    color: var(--color4);
}
