*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1: #F5F5F5;
  --color2: #CCCCCC;
  --color3: #A7C7E7;
  --color4: #4C6B8C;

}

body, html{
  height: 100%;
  background-color: var(--color1);
  font-family: "Open Sans";
}